<div style="margin-top:20px;border-bottom-width:1px;border-bottom-color: lightgray">
    <MudToolBar Dense=true Gutters=false>
        @foreach (var action in Actions.Where(a => a.Show))
        {
            <MudButton StartIcon="@action.Icon"
                       Variant="Variant.Outlined"
                       Color="@action.Color"
                       OnClick="@action.OnClick"
                       Disabled="@action.Disabled"
                       Style="@_buttonStyle">
                @action.Text
            </MudButton>
        }

        <MudSpacer />
                            
        @if (OnSearch.HasDelegate)
        {
            <div class="toolbar-search-container">
                <MudTextField @bind-Value="@_searchString"
                              @bind-Value:after="@OnSearchTextChanged"
                              Placeholder="search"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Immediate=true
                              Clearable=true
                              Disabled="@DisableSearch"
                              FullWidth=true
                              Class="toolbar-search-field" />
            </div>
        }
    </MudToolBar>

    <div style="margin-bottom: 5px">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public EventCallback OnAdd { get; set; }
    [Parameter] public EventCallback OnEdit { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback<string?> OnSearch { get; set; }
    [Parameter] public EventCallback OnBack { get; set; }
    [Parameter] public EventCallback OnRun { get; set; }
    [Parameter] public bool DisableEdit { get; set; }
    [Parameter] public bool DisableAdd { get; set; }
    [Parameter] public bool DisableDelete { get; set; }
    [Parameter] public bool DisableSearch { get; set; }
    [Parameter] public bool DisableSave { get; set; }
    [Parameter] public bool DisableCancel { get; set; }
    [Parameter] public bool DisableRun { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Width { get; set; }

    private const string _buttonStyle = "margin: 0px 5px;";

    private bool ShowTooBar =>
        OnAdd.HasDelegate ||
        OnEdit.HasDelegate ||
        OnDelete.HasDelegate ||
        OnSearch.HasDelegate ||
        OnSave.HasDelegate ||
        OnCancel.HasDelegate;

    private string _searchString = string.Empty;

    private async Task OnSearchTextChanged() => await OnSearch.InvokeAsync(_searchString);

    private sealed record ToolbarAction
    {
        public ToolbarAction(string icon, Color color, EventCallback onClick, bool disabled, string text)
        {
            Icon = icon;
            Color = color;
            OnClick = onClick;
            Disabled = disabled;
            Text = text;
        }

        public string Icon { get; set; }
        public Color Color { get; set; }
        public EventCallback OnClick { get; set; }
        public bool Disabled { get; set; }
        public string Text { get; set; }
     
        public bool Show => OnClick.HasDelegate;
    }

    private IEnumerable<ToolbarAction> Actions => new[]
    {
        new ToolbarAction(Icons.Material.Outlined.ArrowBack, Color.Info,      OnBack,   false,         "Back"),
        new ToolbarAction(Icons.Material.Outlined.Add,       Color.Info,      OnAdd,    DisableAdd,    "Add"),
        new ToolbarAction(Icons.Material.Outlined.Edit,      Color.Info,      OnEdit,   DisableEdit,   "Edit"),
        new ToolbarAction(Icons.Material.Outlined.Save,      Color.Success,   OnSave,   DisableSave,   "Save"),
        new ToolbarAction(Icons.Material.Outlined.Delete,    Color.Secondary, OnDelete, DisableDelete, "Delete"),
        new ToolbarAction(Icons.Material.Outlined.Cancel,    Color.Surface,   OnCancel, DisableCancel, "Cancel"),
        new ToolbarAction(Icons.Material.Outlined.PlayArrow, Color.Surface,   OnRun,    DisableRun,    "Run"),
    };
}