<div style="margin-top:10px">
    <BlockToolBar OnAdd="OnAdd" />

    <MudDataGrid T="MiscTablesRecord"
                 Items="@Elements"
                 ReadOnly="true"
                 Dense="true"
                 EditMode="@DataGridEditMode.Cell"
                 Bordered="true">
        <Columns>
            <TemplateColumn CellStyle="width: 1%; white-space: nowrap; text-align: left;" HeaderStyle="width: 1%; white-space: nowrap;">
                <CellTemplate>
                    <MudStack Row Spacing="0">
                        <MudIconButton Color="Color.Success" Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => EditItem(context.Item))" />
                        <MudIconButton Color="Color.Error" Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => DeleteItem(context.Item))" />
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.ID" Title="ID" CellStyle="width: 1%; white-space: nowrap;" HeaderStyle="width: 1%; white-space: nowrap;" />
            <PropertyColumn Property="x => x.Descr" Title="SQL Line" />
        </Columns>
    </MudDataGrid>
</div>

<MudDrawer @bind-Open="@_openSettings" Anchor="Anchor.End" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose=true Width="90%">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Edit SQL Command</MudText>
    </MudDrawerHeader>
    <MudDrawerContainer>
        <div style="margin:10px">
            <BlockToolBar OnSave="OnSave" OnCancel="OnCancel" />
            <MudTextField @bind-Value="_sqlCommands" Label="Edit SQL Command" Variant="Variant.Outlined" Clearable="true" Sizing="InputSizing.Auto" Lines="10" />
        </div>
    </MudDrawerContainer>
    <MudDivider />
</MudDrawer>


@code {
    [Parameter] public List<MiscTablesRecord> Elements { get; set; } = null!;
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public EventCallback OnUpdate { get; set; }

    private bool _openSettings = false;
    private string _sqlCommands = "";
    private MiscTablesRecord? _editRecord;

    private void OnAdd() { }

    private void OnSave() { }

    private void OnCancel()
    {
        _openSettings = false;
        _sqlCommands = "";    
        _editRecord = null;
    }

    private void EditItem(MiscTablesRecord item)
    {
        _editRecord = item;
        _sqlCommands = item.Descr;
        _openSettings = true;
    }

    private void DeleteItem(MiscTablesRecord item)
    {
    }
}


