
<div style="margin-top:10px">
    <BlockToolBar OnRefresh="Load" OnDelete="OnDelete" DisableDelete="@_disableDelete" />

    <MudDataGrid T="ReportFileDetail"
                 Items="@_elements"
                 ReadOnly="true"
                 Dense="true"
                 EditMode="@DataGridEditMode.Cell"
                 SelectedItemsChanged="@SelectedItemsChanged"
                 MultiSelection="true"
                 Bordered="true">
        <Columns>
            <SelectColumn T="ReportFileDetail" />
            <TemplateColumn Title="File Name">
                <CellTemplate>
                    <MudLink Color="Color.Info"
                             OnClick="@(() => ViewItem(context.Item))"
                             Style="cursor: pointer;">@context.Item.FileName</MudLink>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.CreatedDate" Title="Created Date" CellStyle="width: 1%; white-space: nowrap;" HeaderStyle="width: 1%; white-space: nowrap;" />
            <PropertyColumn Property="x => x.SizeK" Title="Size" CellStyle="width: 1%; white-space: nowrap;" HeaderStyle="width: 1%; white-space: nowrap;" />
        </Columns>
    </MudDataGrid>

    <Question Show="@_askDeleteQuestion"
              Title="Delete Confirmation"
              Descriptions="@_descriptions"
              OnYes="@(() => DeleteItem())"
              OnNo="@(() => _askDeleteQuestion = false)" />
</div>

@code {
    @inject UserDatalakeStore _userDatalakeStore;
    @inject IJSRuntime JSRuntime;
    @inject ISnackbar _snackbar;
    [Parameter] public string PackageId { get; set; } = null!;

    private bool _initialized = false;
    private bool _disableDelete = false;
    private IReadOnlyList<ReportFileDetail> _elements = [];
    private ReportFileDetail? _currentFileDetail;
    private bool _askDeleteQuestion;
    private IReadOnlyList<string> _descriptions = [];
    private HashSet<ReportFileDetail> _selectedItems = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Load();
        }
    }

    public async Task Load()
    {
        _elements = await _userDatalakeStore.ListReportFiles(PackageId);
        _initialized = true;
        StateHasChanged();
    }

    private async Task SelectedItemsChanged(HashSet<ReportFileDetail> items)
    {
        _selectedItems = items;

        _disableDelete = items.Count switch
        {
            0 => true,
            _ => false,
        };
    }

    private async Task OnDelete()
    {
        _currentFileDetail = null;
        _askDeleteQuestion = true;

        var line = _selectedItems.Select(x => x.FileName);
        _descriptions = new[] { $"Do you want to delete?" }.Concat(line).ToArray();
    }

    private async Task AskDelete(ReportFileDetail item)
    {
        _currentFileDetail = item;
        _askDeleteQuestion = true;
        _descriptions = new[] { $"Do you want to delete {item.FileName}?" };
    }

    private async Task DeleteItem()
    {
        _askDeleteQuestion = false;

        var list = _currentFileDetail switch
        {
            null => _selectedItems.Select(x => $"{x.UserEmail}/{x.PackageId}/{x.FileName}").ToList(),
            var v => new List<string> { $"{v.UserEmail}/{v.PackageId}/{v.FileName}" }
        };

        if (list.Count == 0) return;

        foreach (var item in list)
        {
            var fileResult = await _userDatalakeStore.Delete(item);
            if (fileResult.IsError())
            {
                _snackbar.Add($"Can not delete {item}", Severity.Error);
                continue;
            }

            _snackbar.Add($"Deleted {item}", Severity.Info);
        }

        // string filePath = $"{_currentFileDetail.UserEmail}/{_currentFileDetail.PackageId}/{_currentFileDetail.FileName}";

        await Load();
        StateHasChanged();
    }

    private async Task ViewItem(ReportFileDetail item)
    {
        string filePath = $"{item.UserEmail}/{item.PackageId}/{item.FileName}";
        var fileResult = await _userDatalakeStore.Get(filePath);

        if (fileResult.IsError())
        {
            _snackbar.Add($"Can not find {filePath}", Severity.Error);
            return;
        }

        byte[] fileData = fileResult.Return().Data.ToArray();
        var fileStream = new MemoryStream(fileData);
        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", item.FileName, streamRef);
    }
}
