@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <NotAuthorized>
        <div class="intro-bg">
            <MudText Typo="Typo.h6">Please log on.</MudText>
        </div>
    </NotAuthorized>

    <Authorized>
        <MudText Typo="Typo.h4">Welcome to GFS Tools</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            The following tools are avaiable...
        </MudText>

        <MudPaper Class="m-4" Elevation="0" Style="max-width: 600px">
            <MudList T="string" Dense="true">
                <MudListItem Icon="@Icons.Material.Outlined.QueryStats" Href="@NavHelper.ElimPackages.BasePath">
                    <MudText>Elim Packages</MudText>
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.PostAdd" Href="/underConstruction">
                    <MudText>Post SAP transactions using Parker.</MudText>
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.Schedule" Href="/underConstruction">
                    <MudText>View or Edit Elim Package Schedules.</MudText>
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.People" Href="@NavHelper.PrincipalAccess.BasePath">
                    <MudText>Manage user access to roles and reports.</MudText>
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Outlined.HelpCenter" Href="/underConstruction">
                    <MudText>Get online help or submit a ServiceNow support request.</MudText>
                </MudListItem>
            </MudList>
        </MudPaper>
    </Authorized>
</AuthorizeView>
