@page "/principal/{nameIdentifier}"
@using GFSWeb.sdk.Models
@using GFSWeb.sdk.Store
@using MudBlazor.Charts

<MudStack Spacing="2">
    <ReturnUrlButton ReturnUrl=@returnUrl />
    <BlockHeader Title="Registered Principals" SubTitle="@_subHeading" />
    <BlockToolBar OnSave=OnSave OnDelete=OnDelete OnCancel=OnCancel DisableSave="@_saveDisabled" DisableDelete="@_deleteDisabled" />

    <div class="form-content">
        <MudStack Row=true>
            <MudPaper Elevation=1 Style="flex: 0 0 65%; overflow-x: hidden;">
                <MudGrid Spacing="2" Style="margin:0; width:100%; box-sizing:border-box; padding:0px 12px 8px 8px;">
                    @foreach (var control in _requiredControls)
                    {
                        <MudItem xs="12" Class="pr-2">
                            <MudTextField T="string"
                                          Label="@control.Label"
                                          Variant="Variant.Outlined"
                                          Required="@control.Required"
                                          Immediate="true"
                                          Disabled="@control.Disabled"
                                          @bind-Value="control.Value"
                                          @bind-Value:after="OnEditorChanged" />
                        </MudItem>
                    }
                </MudGrid>

                <MudDivider Style="border-top-width: 3px; border-top-color: rgba(0, 0, 0, 0.55);" DividerType="DividerType.Middle" />

                <MudGrid Spacing="2" Style="margin:0; width:100%; box-sizing:border-box; padding:0px 12px 8px 8px;">
                    @foreach (var control in _editControls)
                    {
                        <MudItem xs="6" Class="pr-2">
                            <MudTextField T="string"
                                          Label="@control.Label"
                                          Variant="Variant.Outlined"
                                          Required="@control.Required"
                                          Immediate="true"
                                          Disabled="@control.Disabled"
                                          @bind-Value="control.Value"
                                          @bind-Value:after="OnEditorChanged" />
                        </MudItem>
                    }
                </MudGrid>
            </MudPaper>
            <MudPaper Style="flex: 1 1 0;">
                <div style="margin:20px">
                    <MudText>Roles</MudText>
                
                    <MudSwitch T="bool" Label="Disabled" Color="Color.Primary" @bind-Value="_record.Disabled" @bind-Value:after="OnEditorChanged" />

                    <MudRadioGroup T="string" @bind-Value="_record.Role" @bind-Value:after="OnEditorChanged">
                        <MudRadio Value=IdentityRole.ReaderRole Color="@GetColor(() => _record.IsReader)" Size="Size.Medium">Reader</MudRadio>
                        <MudRadio Value=IdentityRole.ContributorRole Color="@GetColor(() => _record.IsContributor)" Size="Size.Medium">Contributor</MudRadio>
                        <MudRadio Value=IdentityRole.OwnerRole Color="@GetColor(() => _record.IsOwner)" Size="Size.Medium">Owner</MudRadio>
                    </MudRadioGroup>

                    <MudCheckBox @bind-Value=_record.Parker @bind-Value:after="OnEditorChanged" Color="@GetColor(() => _record.Parker)">Parker</MudCheckBox>
                    <MudCheckBox @bind-Value=_record.ParkerPost @bind-Value:after="OnEditorChanged" Color="@GetColor(() => _record.ParkerPost)">Parker Post</MudCheckBox>
                </div>
            </MudPaper>
        </MudStack>
    </div>
</MudStack>

<Question Show=_showDeleteAsk Title="Delete Principal" Descriptions=@_deleteDescriptions OnYes=OnAskDeleteYes OnNo=OnAskDeleteNo />

@code
{
    @inject NavigationManager _nav;
    @inject GFSAdminStore _store;
    @inject ISnackbar _snackbar;
    [Parameter] public string? nameIdentifier { get; set; }
    [Parameter, SupplyParameterFromQuery] public string returnUrl { get; set; } = null!;

    private bool _saveDisabled = true;
    private bool _deleteDisabled = true;
    private bool _showDeleteAsk = false;
    private bool _newRecord;
    private IReadOnlyList<string> _deleteDescriptions = Array.Empty<string>();
    private string _subHeading => _newRecord ? "New Record" : "Editing";
    private PrincipalIdentityRecord _record = new();
    private PrincipalIdentityRecord _originalRecord = new();

    private Color GetColor(Func<bool> test) => test() switch
    {
        true => Color.Success,
        false => Color.Info,
    };

    protected override async Task OnParametersSetAsync()
    {
        if (nameIdentifier.IsEmpty() || nameIdentifier == "new-record")
        {
            _record = new();
            _originalRecord = _record with { };
            _saveDisabled = true;
            _deleteDisabled = true;
            _newRecord = true;
            return;
        }

        _record = (await _store.Identity.Get(nameIdentifier)).ThrowOnError().Return();
        _record.Validate().ThrowOnError();

        _originalRecord = _record with { };

        _saveDisabled = true;
        _deleteDisabled = false;
        _newRecord = false;
    }

    private async Task OnSave()
    {
        _record.NotNull();

        if (_record.Validate().IsError())
        {
            _snackbar.Add("Please fill in all required fields", Severity.Error);
            return;
        }

        Option<int> saveOption = _newRecord switch
        {
            true => await _store.Identity.AddOrUpdate(_record),
            false => await _store.Identity.AddOrUpdate(_record)
        };

        if (saveOption.IsError())
        {
            _snackbar.Add($"Failed to save principal '{_record.NameIdentifier}', statusCode={saveOption.StatusCode}, error={saveOption.Error}", Severity.Error, config =>
            {
                config.RequireInteraction = true;
            });
            return;
        }

        _snackbar.Add($"Principal '{_record.NameIdentifier}' saved", Severity.Success);
        NavHelper.Principals.NavigateTo(_nav);
    }

    private void OnDelete()
    {
        _deleteDescriptions = ["Are you sure you want to delete principal?", $"Name Identifier: '{_record.NameIdentifier}'"];
        _showDeleteAsk = true;
    }

    private async Task OnAskDeleteYes()
    {
        _showDeleteAsk = false;
        var deleteOption = await _store.Identity.Delete(_record.NameIdentifier);
        if (deleteOption.IsError())
        {
            _snackbar.Add($"Failed to delete principal '{_record.NameIdentifier}', statusCode={deleteOption.StatusCode}, error={deleteOption.Error}", Severity.Error, config =>
            {
                config.RequireInteraction = true;
            });

            NavHelper.Principals.NavigateTo(_nav);
            return;
        }

        _snackbar.Add($"Principal '{_record.NameIdentifier}' deleted", Severity.Success);
        NavHelper.Principals.NavigateTo(_nav);
    }

    private void OnAskDeleteNo() => _showDeleteAsk = false;

    private void OnCancel() => NavHelper.Principals.NavigateTo(_nav);

    private void OnEditorChanged() => EvaluateSaveState();

    private void EvaluateSaveState()
    {
        _saveDisabled = _newRecord switch
        {
            false => _record == _originalRecord,

            true => _record.NameIdentifier.IsEmpty() ||
                _record.UserName.IsEmpty() ||
                _record.Email.IsEmpty() ||
                _record.Role.IsEmpty() ||
                _record.UserID_SAP.IsEmpty(),
        };
    }

    private IReadOnlyList<EditControl> _requiredControls =>
    [
        new() { Label = "Name Identifier", Required = true, Disabled = !_newRecord, Getter = () => _record.NameIdentifier, Setter = value => _record.NameIdentifier = value ?? String.Empty},
        new() { Label = "User Name", Required = true, Getter = () => _record.UserName, Setter = value => _record.UserName = value ?? String.Empty},
        new() { Label = "User ID SAP", Required = true, Getter = () => _record.UserID_SAP, Setter = value => _record.UserID_SAP = value },
        new() { Label = "Email", Required = true, Getter = () => _record.Email, Setter = value => _record.Email = value ?? String.Empty },
    ];

    private IReadOnlyList<EditControl> _editControls =>
    [
        new() { Label = "First Name", Getter = () => _record.FirstName, Setter = value => _record.FirstName = value },
        new() { Label = "Nick Name", Getter = () => _record.NickName, Setter = value => _record.NickName = value },
        new() { Label = "Middle Name", Getter = () => _record.MiddleName, Setter = value => _record.MiddleName = value },
        new() { Label = "Last Name", Getter = () => _record.LastName, Setter = value => _record.LastName = value },
        new() { Label = "Location", Getter = () => _record.Location, Setter = value => _record.Location = value },
        new() { Label = "Park Post", Getter = () => _record.ParkPost, Setter = value => _record.ParkPost = value },
        new() { Label = "Post Email", Getter = () => _record.PostEmail, Setter = value => _record.PostEmail = value },
        new() { Label = "CC Email 1", Getter = () => _record.CCEmail1, Setter = value => _record.CCEmail1 = value },
        new() { Label = "CC Email 2", Getter = () => _record.CCEmail2, Setter = value => _record.CCEmail2 = value },
        new() { Label = "Elim", Getter = () => _record.Elim, Setter = value => _record.Elim = value },
        new() { Label = "Co Update", Getter = () => _record.Co_Update, Setter = value => _record.Co_Update = value },
        new() { Label = "Co View", Getter = () => _record.Co_View, Setter = value => _record.Co_View = value },
        new() { Label = "CC Node ID", Getter = () => _record.CC_NodeID, Setter = value => _record.CC_NodeID = value },
        new() { Label = "Flex 1", Getter = () => _record.Flex1, Setter = value => _record.Flex1 = value },
        new() { Label = "Flex 2", Getter = () => _record.Flex2, Setter = value => _record.Flex2 = value },
        new() { Label = "Flex 3", Getter = () => _record.Flex3, Setter = value => _record.Flex3 = value },
        new() { Label = "Post Email 2", Getter = () => _record.PostEmail2, Setter = value => _record.PostEmail2 = value },
    ];

    private record EditControl
    {
        public string Label { get; init; } = null!;
        public bool Required { get; init; }
        public bool Disabled { get; init; }
        public Func<string?> Getter { get; init; } = null!;
        public Action<string?> Setter { get; init; } = null!;
        public string? Value
        {
            get => Getter();
            set => Setter(value);
        }
    }
}