@using GFSWeb.sdk.Models
@using GFSWeb.sdk.Store

@if (!_initialized)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Rounded="true" Size="Size.Medium" Value="100" Style="margin:20px" />
}
else
{
    <div style="margin: 10px">
        <BlockToolBar OnSearch="@OnSearch" />
    </div>

    <MudNavMenu>
        @foreach(var menu in _menuList)
        {
            <MudNavGroup Title="@menu.MenuDescription" Expanded="@_searchString.IsNotEmpty()">
                @foreach(var item in menu.Items)
                {
                    <MudNavLink OnClick="@(() => SelectedItemChanged(item))">@item.Key</MudNavLink>
                }
            </MudNavGroup>
        }

        <MudNavGroup Title="Settings">
            <MudNavLink Href="/users">Users</MudNavLink>
            <MudNavLink Href="/security">Security</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>

@*     <MudDataGrid T="MenuGroup" Items="@_menuList" Dense="true" Hover="true" Elevation="0" @ref=_dataGrid>
        <Columns>
            <HierarchyColumn EnableHeaderToggle=true InitiallyExpandedFunc="@(_ => _searchString.IsNotEmpty())" />
            <PropertyColumn Property="x => x.MenuDescription" Title="Report Type" Sortable="true" />
        </Columns>
        <ChildRowContent>
            <div style="margin-top:10px">
                <MudDataGrid T="MenuItem" Items="@context.Item.Items" Elevation="3" SelectedItemChanged="@SelectedItemChanged">
                    <Columns>
                        <PropertyColumn Property="x => x.Key" Title="@(context.Item.MenuDescription + " Report")" Sortable="true" />
                    </Columns>
                </MudDataGrid>
            </div>
        </ChildRowContent>
    </MudDataGrid> *@
}


@code {
    [Parameter] public EventCallback<MenuItem> OnSelect { get; set; }
    @inject ReportPackageStore _store;
    private bool _initialized = false;
    private IReadOnlyList<PrincipalMenuRecord> _list = Array.Empty<PrincipalMenuRecord>();
    private string? _searchString;
    // private MudDataGrid<MenuGroup> _dataGrid = null!;
    private IReadOnlyList<MenuGroup> _menuList = null!;

    private record MenuGroup(string MenuDescription, IReadOnlyList<MenuItem> Items);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetPrincipals();
            StateHasChanged();
        }
    }

    private void LoadList()
    {
        _menuList = _list
            .GroupBy(x => x.MenuId)
            .Select(x => new MenuGroup(
                x.First().MenuDescription,
                x.Where(x => x.Like(_searchString)).Select(y => new MenuItem(y.Description, y.PackageId)).ToArray()
            ))
            .Where(x => x.Items.Any())
            .ToArray();
    }

    private async Task GetPrincipals()
    {
        _list = await _store.Menu.GetMenuForPrincipalIdentity();
        _initialized = true;

        LoadList();
    }

    private async Task SelectedItemChanged(MenuItem? item)
    {
        if (item is null) return;
        await OnSelect.InvokeAsync(item);
    }

    private async Task OnSearch(string searchString)
    {
        _searchString = searchString;
        LoadList();
        StateHasChanged();

        // if (searchString.IsEmpty())
        // {
        //     await _dataGrid.CollapseAllHierarchy();
        // }

        // await _dataGrid.ExpandAllHierarchy();
    }
}
